$black: #000;
$white: #fff;
$blue: #0e1544;
$dark-grey: #1f1f1f;
$medium-grey: #707070;
$light-grey: #cecece;
$dark-orange: #f7922e;
$light-orange: #fef2e5;
$dark-yellow: #fde938;
$light-yellow: #ffd200;

$arrow-grey: #bfbfbf;

$shadow-dark: #e6dede;
$shadow-orange: #f5b97df5;
$shadow-yellow: #edf1a9;

$card-yellow:#ffd101;
$card-purple:#8900ff;
$card-blue:#00c2ff;


$box-light-grey: #f2f2f2;
$box-medium-grey: #8d8d8d;
$box-light-blue: #d7d9ee;
$box-dark-blue: #4c54ac;
