$black: #000;
$white: #fff;
$dark-grey: #1f1f1f;
$medium-grey: #707070;
$light-grey: #cecece;
$arrow-grey: #bfbfbf;
$dark-orange: #f57c00;
$light-orange: #fef2e5;
$blue: #0e1544;

$box-light-grey: #f2f2f2;
$box-medium-grey: #8d8d8d;
$box-light-blue: #d7d9ee;
$box-dark-blue: #4c54ac;
